body {
    background: black;
}

.title {
    color: white;
    text-align: center;
}

#user-details {
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

li {
    text-align: left;
}

p {
    padding-top: -10px;
}

#postsBtn {
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 90%;
    max-width: 400px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.post-block {
    height: auto;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}